---
import type { literal } from "astro:schema";
import ReservasBox from "../vue/ReservasBox.vue";
---

<section id="Home">
  <h1 class="title">Un Paraiso Frente al mar</h1>
  <p class="leyend">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus alias
    dolor quos, quae dolores quidem omnis pariatur earum exercitationem neque
    voluptatem, magni deleniti. Unde placeat suscipit aut non cum ab.
  </p>
  <div class="bg_gradiente"></div>

  <!-- ventana modal-->
  <ReservasBox client:only />

  <div class="white_space"></div>
</section>
<style>
  .title {
    z-index: 51;
    font-family: var(--var-font-title);
    font-size: 7em;
    font-weight: 500;
    color: var(--var-color-white);
    position: absolute;
    bottom: 280px;
    text-align: center;
    width: 100%;
  }
  #Home {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/bg_home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .leyend {
      z-index: 50;
      position: absolute;
      bottom: 205px;
      width: 70%;
      text-align: center;
      left: 50%;
      font-size: 1.5rem;
      transform: translateX(-50%);
      color: var(--var-color-white);
    }
  }
  .bg_gradiente {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(
      0deg,
      var(--var-color-green700),
      15%,
      transparent
    );
    height: 90vh;
  }
  .white_space {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--var-color-white);
    left: 0;
    bottom: 0;
  }
</style>
