---

---

<section id="Reservas">
  <h1 class="text-7xl">Hola esta es la seccion reservas</h1>
  <form action="">
    <div class="input">
      <input type="text" name="" id="" />
      <label for="">email</label>
    </div>
  </form>
</section>
<style>
  #Reservas {
    width: 100%;
    height: 100vh;
    background-color: var(--var-color-green600);
  }
</style>
