---
import Flatpickr from "./vue/Flatpickr.vue";
---

<main id="Aparts">
  <h1>Nuestros Aparts</h1>
  <section class="container">
    <div class="custom-shape-divider-bottom">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="custom-shape-divider-top">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="card">
      <h1 class="title">Apart para 2 personas</h1>
      <img src="imgs/img_aparts (22).JPG" alt="" />
      <p class="descripcion">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam
        tenetur similique. Modi, nemo, labore veritatis accusamus illo tenetur
        neque deleniti harum dolor alias ad quod itaque! Repellat, excepturi
        perspiciatis. Praesentium aliquam et iste, in natus vel velit, ipsum quo
        doloribus neque ut excepturi quas, repudiandae cum ratione rerum
      </p>

      <button class="ver-mas">ver mas</button>
    </div>
    <div class="card">
      <h1 class="title">Apart para 2 personas</h1>
      <img src="imgs/img_aparts (14).JPG" alt="" />
      <p class="descripcion">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam
        tenetur similique. Modi, nemo, labore veritatis accusamus illo tenetur
        neque deleniti harum dolor alias ad quod itaque! Repellat, excepturi
        perspiciatis. Praesentium aliquam et iste, in natus vel velit, ipsum quo
        doloribus neque ut excepturi quas, repudiandae cum ratione rerum
      </p>

      <button class="ver-mas">ver mas</button>
    </div>
    <div class="card">
      <h1 class="title">Apart para 2 personas</h1>
      <img src="imgs/img_aparts (15).JPG" alt="" />
      <p class="descripcion">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam
        tenetur similique. Modi, nemo, labore veritatis accusamus illo tenetur
        neque deleniti harum dolor alias ad quod itaque! Repellat, excepturi
        perspiciatis. Praesentium aliquam et iste, in natus vel velit, ipsum quo
        doloribus neque ut excepturi quas, repudiandae cum ratione rerum
      </p>

      <button class="ver-mas">ver mas</button>
    </div>
    <div class="card">
      <h1 class="title">Apart para 2 personas</h1>
      <img src="imgs/img_aparts (16).JPG" alt="" />
      <p class="descripcion">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam
        tenetur similique. Modi, nemo, labore veritatis accusamus illo tenetur
        neque deleniti harum dolor alias ad quod itaque! Repellat, excepturi
        perspiciatis. Praesentium aliquam et iste, in natus vel velit, ipsum quo
        doloribus neque ut excepturi quas, repudiandae cum ratione rerum
      </p>

      <button class="ver-mas">ver mas</button>
    </div>
    <div class="card">
      <h1 class="title">Apart para 2 personas</h1>

      <img src="imgs/img_aparts (17).JPG" alt="" /><p class="descripcion">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam
        tenetur similique. Modi, nemo, labore veritatis accusamus illo tenetur
        neque deleniti harum dolor alias ad quod itaque! Repellat, excepturi
        perspiciatis. Praesentium aliquam et iste, in natus vel velit, ipsum quo
        doloribus neque ut excepturi quas, repudiandae cum ratione rerum
      </p>

      <button class="ver-mas">ver mas</button>
    </div>
  </section>
</main>

<style>
  .custom-shape-divider-top,
  .custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
    transform: rotate(180deg);
  }
  .custom-shape-divider-top,
  svg {
    fill: var(--var-color-green600);
    opacity: 0.3;
    backdrop-filter: constrast(35%);
  }
  main {
    position: relative;
    width: 100%;
    padding: 3em;
    background-color: var(--var-color-green100);
  }
  .container {
    display: flex;
    gap: 30px;
    overflow: hidden;
  }
  .card {
    z-index: 50;
    background-color: var(--var-color-green500);
    padding: 1em 1.5em;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 3em;
      font-family: var(--var-font-title);
      color: var(--var-color-green400);
    }
    p {
      color: var(--var-color-grey300);
      font-size: 0.9rem;
      margin: 1em 1em 2em 1em;
      line-height: 1.5rem;
    }
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
    button {
      border-radius: 5px;
      background: var(--var-color-green200);
      border: none;
      height: 35px;
      width: 150px;
      color: var(--var-color-green500);
      text-transform: uppercase;
      transition: 0.3s ease-in-out;
    }
    button:hover {
      background-color: var(--var-color-green100);
    }
  }
</style>
