---
import Menu from "./Menu.astro";
import Logo from "./Logo.astro";
const { links } = Astro.props;
---

<script>
  window.addEventListener("scroll", () => {
    const scroll: number = window.scrollY;
    const cabecera = document.getElementById("cabecera");
    if (cabecera) {
      if (scroll > 0) {
        cabecera.classList.add("scroll");
      } else {
        cabecera.classList.remove("scroll");
      }
    }
  });
</script>

<header id="cabecera">
  <div id="logo"><Logo /></div>
  <Menu id="menu" links={links} />
</header>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }
  header {
    width: 100%;
    position: fixed;
    display: flex;

    z-index: 10;
  }
  #logo {
    margin-left: 8em;
    scale: 1.6;
    padding: 3em;
    transition: 1s ease-in-out all;
  }
  #menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: var(--var-color-white);
  }
  .scroll {
    height: 80px;

    .bg-white {
      height: 80px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    #menu {
      position: absolute;
      top: 0;
      width: 100%;
      height: 55px;
      background-color: var(--var-color-white);
    }
    #menu ul {
      margin-top: 10px;
      right: 0;
    }
    #logo {
      opacity: 1;
      position: absolute;
      opacity: 0;
      margin-top: -20px;
      height: 100px;
      z-index: 17;
    }
  }
</style>
