---
import { Icon } from "astro-icon/components";

const { cant_adultos, cant_ninos, desde, hasta } = Astro.props;
---

<form action="post">
  <fieldset>
    <legend>Consulta tu reserva</legend>
    <div class="input">
      <label for="apynom">nombre y apellido</label>
      <input type="text" name="apynom" id="apynom" />
    </div>
    <div class="input">
      <label for="cant_adultos">Cantidad de adultos</label>
      <input
        type="number"
        name="cant_adultos"
        id="cant_adultos"
        value={cant_adultos}
      />
    </div>
    <div class="input">
      <label for="cant_ninos">Cantidad de niños</label>
      <input type="number" name="cant_ninos" id="cant_ninos" />
    </div>
    <div class="input">
      <label for="email">email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="fecha_reserva">
      <label for="">desde</label>
      <input type="text" id="desde" />
      <label for="">hasta</label>
      <input type="text" id="hasta" />
    </div>

    <div class="input">
      <label for="comentarios">Comentarios</label>
      <textarea maxlength="250"></textarea>
    </div>
    <button>consultar reserva</button>
  </fieldset>
</form>

<style>
  form {
    justify-content: center;
    z-index: 50;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.5);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 70%;
    background-color: var(--var-color-white);
  }
  legend {
    margin: 0 auto;
    font-size: 1.5rem;
  }
  .input,
  .fecha_reserva,
  button {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0.5rem auto;
  }
  .input label {
    width: 30%;
  }
  .input input {
    background-color: var(--var-color-white);
    width: 70%;
    padding: 0.5rem;
  }
  button {
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: var(--var-color-green400);
    color: var(--var-color-white);
    width: 50%;
    padding: 0.5rem 1rem;
    transition: 0.1s ease-out all;
    &:hover {
      background-color: var(--var-color-green500);
    }
  }
</style>
