---
interface enlace {
  type: string;
}
const { enlace, active } = Astro.props;
---

<li class="link" class:list={[{ active: enlace == "Home" }]}>
  <a href={"#" + enlace}>{enlace}</a>
  <div class="line"></div>
</li>

<style>
  li {
    height: 25px;
    font-size: 1.2em;

    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    list-style: none;
    margin: auto;
  }
  .link {
    background-color: none;
    border-radius: 3px;
  }
  a {
    color: #999;
  }
  .active a {
    color: var(--var-color-green400);
    font-weight: 900;
  }
  .line {
    height: 0px;
    width: 0%;
    transition: 1s ease all;
  }
  .active .line {
    height: 4px;
    width: 100%;
    background-color: var(--var-color-green200);
  }
</style>
