---
interface enlace {
  type: string;
}
const { enlace } = Astro.props;
---

<li>
  <a class="active" href={"#" + enlace}>{enlace}</a>
  <div class="line"></div>
</li>

<style>
  li {
    /*   */
    width: 120px;
    height: 25px;
    line-height: 25px;
    position: relative;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    list-style: none;
    margin: auto;
  }
  li a {
    width: 120px;
    height: 25px;
    font-weight: semibold;
    text-decoration: none;
    color: var(--var-color-grey200);
    transition: 0.5s ease-out color;
  }
  li:hover a,
  .active {
    color: var(--var-color-primary);
  }

  .line {
    position: absolute;
    background-color: var(--var-color-grey100);
    bottom: -120;
    left: 0;
    width: 0px;
    height: 3px;
    transition: ease-in 0.3s all;
  }
  li:hover .line {
    width: 120px;
  }
</style>
