---
interface links {
  type: Array<String>;
}
import Link from "./Link.astro";
const { links } = Astro.props;
---

<script>
  let links = document.getElementsByClassName("link");

  Array.from(links).forEach((link) => {
    link.addEventListener("click", () => {
      const actives = document.getElementsByClassName("active");
      if (actives.length > 0) {
        actives[0].className = actives[0].className.replace("active", "");
      }
      link.className += " active";
      console.log(link);
    });
  });
  const sections = document.getElementsByTagName("section");
</script>
<nav id="menu">
  <ul>
    {links.map((link: string) => <Link enlace={link} active=true />)}
  </ul>
</nav>
<style>
  #menu {
    align-items: center;
    display: flex;
    justify-content: end;
    width: 100%;
    background: white;
    height: 75px;
    transition: 1s ease-in-out all;
  }
  #menu ul {
    width: 50%;
    z-index: 100;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
</style>
